* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

 #logo, h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", serif;
 }

header  {

    border-bottom: 1px solid black;
    height: 5rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

.container {

 
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

#logo {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    
    color: rgb(127, 122, 122);
}

.iconLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
     


}

.iconLinks a {
    color: black;
}
section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#section1 .container {
    display: flex;
    gap: 3rem;
}
.images {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 1rem;

}
 
 .images img {
    width: 100%;
    height: 100%;
}  

#image1 {
    grid-row: 1;
    grid-column: 1;
}
#image2 {
    grid-row: 2;
    grid-column: 1 ;
}
 
#image3 {
    grid-row: 3;
    grid-column: 1;
}
#image4 {
    grid-row: 4;
    grid-column: 1;
}
#selectedImages {
    width: 100%;
    height: 100%;
    grid-column: 2/ span 3;
    grid-row: 1 / span 4 ;
}
.productDetails {

    width: 50%;
}